<ul class="menu">
  <li>
    <a href="danheidel.net">
      <img class="menuicon" src="/images/iconmonstr-home-6-icon.svg">
    </a>
  </li>
  <li>
    <a href="danheidel.net/#soft-main">Software</a>
    <ul>
      <li>
        <a href="danheidel.net/#soft-stars">
          Stars
          <img src="/images/stars thumbnail.png">
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="danheidel.net/#art-main">
      Artwork
    </a>
    <ul>
      <li>
        <a href="danheidel.net/#art-rain">
          Rain Showers
          <img src="/images/rainshow-thumb.png">
        </a>
      </li>
      <li>
        <a href="danheidel.net/#art-contact">
          Contact
          <img src="/images/contact thumbnail.png">
        </a>
      </li>
      <li>
        <a href="danheidel.net/#art-finn">
          Finn Hill
          <img src="/images/finnhill thumbnail.png">
        </a>
      </li>
      <li>
        <a href="danheidel.net/#art-inspire">
          Inspiratories
          <img src="/images/dynamicspace thumbnail.png">
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="danheidel.net/#elec-main">Electronics</a>
    <ul>
      <li>
        <a>Coming soon</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="danheidel.net/#cv">CV</a>
  </li>
  <li class="right">
    <a>right 1</a>
  </li>
  <li class="right">
    <a>right2</a>
  </li>
</ul>