h1 {
  font-family:'Arial', sans-serif;
  font-size: 32rem;
}
h2 {
  font-family:'Arial', sans-serif;
  font-size: 26rem;
}
p {
  font-family:'Arial', sans-serif;
  font-size: 16rem;
}
a {
  font-family:'Arial', sans-serif;
  font-size: 16rem;
}
